/* wild card selector */
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1 {
  /* shorthand property */
  margin: 0;
}

h1 a.title {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}

h3 {
  font-size: x-large;
}

.highlight {
  color: rgb(92, 24, 24);
}

header {
  background-color: rosybrown;
}

.padding-large {
  /* shorthand property */
  padding: 4rem 2rem;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  display: inline-block;
  height: 2.5rem;
}

nav > ul > li:not(:last-child)::after {
  content: ' | ';
}

a:link,
a:visited {
  text-decoration: none;
  color: green;
}

a:hover,
a:active {
  text-decoration: underline;
  color: darkgreen;
}

#intro,
#combinator,
#pseudo-element {
  background-color: burlywood;
}

#simple,
#pseudo-class,
#attribute {
  background-color: cornflowerblue;
}

section p::first-letter {
  font-size: 2rem;
}
