@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

/* CSS Custom Properties/CSS Variables */
:root {
  --highlight: rgb(255, 196, 0);
  --dark: rgb(38, 44, 54);
  --light: lightblue;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: var(--dark);
  color: whitesmoke;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding-bottom: 40rem;
}

.nav {
  background-color: var(--light);
  color: var(--dark);
  padding: 1rem 0;
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
}

blockquote {
  border-left: 2px solid whitesmoke;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

blockquote,
p {
  line-height: 1.5em;
}

code {
  font-family: 'Noto Sans Mono', monospace;
  color: var(--light);
  background-color: rgb(22, 23, 26);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

ul {
  margin-top: 2rem;
}

li {
  list-style-type: '😀';
  padding-inline-start: 1ch;
}

.list li {
  margin-bottom: 1.5rem;
}

.topic::first-letter {
  initial-letter: 2 1;
  color: var(--highlight);
}

.highlight {
  color: var(--highlight);
}

.box {
  width: 200px;
  height: 200px;
  background-color: coral;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  border-radius: 50%;
}

.cookie {
  width: 80%;
  background-color: dimgray;
  color: white;
  padding: 20px;
}
